.imagemLogin{
    background-image: url('./../../assets/Imagem/foto4.jpg');
    background-repeat: 'no-repeat';
    background-position:'center';
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.botao{
    background-color: #4B0000 !important;
}

.text-decorator-none {
    text-decoration: none;
}

.botao:hover {
    background-color: #000000 !important;
    transition: 0.5s;
}

.barraLog {
    background-color: grey;
}